  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    border: 2px solid rgb(34, 3, 5);
    padding: 20px 30px;
    text-align: center;
    background-color: rgb(110, 101, 164);
  }
  
  .image>img {
    width: 120px;
    margin: 10px;
  }
  
  .title {
    font-size: 20px;
    margin: 7px;
  }
  
  .text {
    margin: 10px;
  } 